<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="httpListenerUrl" value="http://localhost:6574/log/"/>
  </appSettings>
  
  <log4net>
    <appender name="JsonHttpAppender" type="log4net.ext.JsonHttpAppender.JsonHttpAppender, log4net.ext.JsonHttpAppender">
      <url value="http://localhost:6574/log"/>
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <root>
      <level value="ALL"/>
      
      <appender-ref ref="JsonHttpAppender" />
    </root>
  </log4net>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener, system, version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\myListener.log" />
      </listeners>
    </trace>
  </system.diagnostics>
    
</configuration>
